# PostgreSQL
POSTGRES_USER=ETA_DBUser
POSTGRES_PASSWORD=devpassword123
POSTGRES_PORT=5440

# RabbitMQ (rmuser — admin, создаётся через RABBITMQ_DEFAULT_USER)
RABBITMQ_USER=rmuser
RABBITMQ_PASS=rmpassword
RABBITMQ_AMQP_PORT=5680
RABBITMQ_MGMT_PORT=15673

# MinIO (root) + bucket initialization
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_API_PORT=9020
MINIO_CONSOLE_PORT=9021

# PgAdmin
PGADMIN_EMAIL=admin@ucust.ru
PGADMIN_PASSWORD=devpassword123
PGADMIN_PORT=9022
